body{background-image:url("pozadina.jpg");
background-size:cover;
}
#user{
    text-align: center;
    width: 200px;
    height: 20px;
    margin-bottom: 10px;
}
#pass{
    text-align: center;
    width: 200px;
    height: 20px;
    margin-bottom: 10px;
}
#opens{
    text-align: center;
    width: 200px;
    height: 20px;
    margin-bottom: 10px;
}
#closes{
    text-align: center;
    width: 200px;
    height: 20px;
    margin-bottom: 10px;
}
#name{
    text-align: center;
    width: 200px;
    height: 20px;
    margin-bottom: 10px;
}
#location{
    text-align: center;
    width: 200px;
    height: 20px;
    margin-bottom: 10px;
}
#contact{
    text-align: center;
    width: 200px;
    height: 20px;
    margin-bottom: 10px;
}
#sub{
    width: 200px;
    height: 40px;
    background: #66FFFF;
}
div{
    position: absolute;
    top: 20%;
    left: 45%;
    margin-top: -50px;
    margin-left: -50px;
    width: 200px;
    height: 200px;
}